<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Head Links --}}
    {{>headlinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <div class="err-con">
        <img src="imgs/errr.png" class="err-img" alt="w22">
    </div>

    <!-- footer -->
    {{>footer}}
    
</body>
</html>