<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Head Links --}}
    {{>headlinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my weather app</p>
                        <h1>I Am Abhishek Pandit,<br><spna class="text_clr"> MERN Stack Developer</spna></h1>
                        <a href="https://github.com/abhishekpandit2029"><button>Github<i class="fa-brands fa-github mx-2"></i></button></a><br>
                        <a href="https://www.linkedin.com/in/abhishek2029/"><button>Linkedin<i class="fa-brands fa-linkedin mx-2"></i></button></a>
                    </div>   

                    <div class="col-md-6 col-12 main_header_right">  
                        <div class="carousel-item active"><img src="imgs/my.png" class="w-100 about-img" alt="w22"></div>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer --> 
    {{>footer}}
    
</body>
</html>