<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Head Links --}}
    {{>headlinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid weather_data">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="#EnterCityName" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="tempInformation">
                    <div class="top_layer">
                        <p><span id="daytoday" class="mx-2"></span><span><b>-</b></span>
                        <span id="today_date" class="mx-2"></span>
                        <span id="month" class="mx-2"></span>
                        <span id="year" class="mx-2"></span></p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_value">0</span><sup>o</sup><span class="celcius">C</span></p>
                            <p id="temp_status"> <i class="fa-solid fa-cloud faicon"></i> </p>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
    <script src="js/main.js"></script>
</body>
</html>