<div class="container-fluid main_menu">
        <div class="row">
            <div class="col-10 mx-auto">
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid">
                        <a class="navbar-brand"><span class="navtitle">
                            <span>W</span><sup id="navsup"><i class="fa-solid fa-snowflake snow"></i></sup><span>Celcius</span>
                        </span></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>