@import url("https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

/* ------------------------------ Navbar CSS --------------------------- */

.main_menu {
    height: 8vh;
}

.navbar {
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    /* background-color: var(--main-bg); */
    padding: 1rem 0rem;
    height: 8vh;
}

.navtitle {
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 5px;
    left: -10px;
    color: black;
}

.snow {
    transition: all linear;
    animation: rotation 2s linear infinite;
    color: var(--main-color);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ------------------------------ Main Header CSS--------------------------- */

.main_header_left {
    /* border: 1px solid red; */
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 4rem;
    margin: 0rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right {
    /* border: 1px solid red; */
    height: 84vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    .main_header_left h1 {
        margin-bottom: -40px;
    }

    .main_header_left {
        height: 34vh;
    }
}

@media screen and (max-width: 768px) {
    .main_header_left p {
        margin-top: -100px;
        font-size: 1.8rem;
    }

    .main_header_left {
        height: 34vh;
    }

    .main_header_left h1 {
        font-size: 3rem;
    }

    .navtitle {
        left: -70px;
        bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    /* .navtitle{
        left: -70px;
    } */
}

@media screen and (max-width: 400px) {
    .navtitle {
        left: -40px;
    }
}

/* ------------------------------ Footer CSS --------------------------- */

footer {
    height: 8vh;
    width: 100%;
    /* background-color: var(--main-bg); */
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
}

footer p {
    margin: 0;
    text-align: center;
    line-height: 6rem;
    font-size: 1.4rem;
    font-family: "Piazzolla", serif;
}

@media (max-width: 768px) {
    .main_header_left {
        height: auto;
        padding: 13rem 0rem 0rem;
    }

    .navbar {
        padding: 1.5rem 6rem;
    }
}

@media (max-width: 400px) {
    .navbar {
        padding: 1.5rem 3rem;
    }
}

/* ------------------------------ Weather CSS --------------------------- */

.weather_data {
    /* border: 1px solid black; */
    height: auto;
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempInformation {
    /* border: 5px solid black; */
    width: 30rem;
    height: 25rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
}

.top_layer {
    /* border: 5px solid black; */
    height: 25%;
    background-color: #2d303d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}

.top_layer p {
    color: #fff;
    font-weight: 300;
    padding: 3rem;
    font-size: 1.5rem;
}

.main_layer {
    /* border: 5px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

.main_layer #city_name {
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .faicon,
.main_layer .middle_layer .sup {
    font-size: 4.5rem;
    font-weight: 900;
}

.fa-sharp {
    color: red;
}

sup {
    font-size: 4rem;
    margin-top: -2rem;
}

#navsup {
    font-size: 2rem;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
}

.celcius {
    margin-right: 2.5rem;
}

@media screen and (max-width: 768px) {
    .tempInformation {
        width: 27rem;
        height: 25rem;
    }

    .main_layer {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 575px) {
    .tempInformation {
        height: 20rem;
    }

    .main_layer {
        padding: 2rem 3rem;
    }
}

/* ------------------------------ Weather Input CSS --------------------------- */

.main_content {
    z-index: -1;
}

.temp_form {
    width: 500px;
    position: relative;
    margin: 0rem 0 4rem -100px;
}

.temp_form input[type="text"] {
    width: 500px;
    padding: 2rem 5rem 2rem 3rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 4rem;
}

::placeholder {
    color: #bfc1c8;
}

.temp_form #submitBtn {
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    min-width: 10rem;
    margin-left: 10rem;
    border: none;
    background: #009ad8;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
}

@media screen and (max-width: 991px) {
    .temp_form {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .main_content {
        margin-top: 50px;
    }

    .temp_form,
    .temp_form input[type="text"] {
        width: 400px;
    }

    .temp_form input[type="text"] {
        padding: 1.5rem 4.5rem 1.5rem 2rem;
    }

    .temp_form {
        margin: 0rem 0 4rem -60px;
    }

    .temp_form #submitBtn {
        min-width: 8rem;
    }
}

@media screen and (max-width: 575px) {

    .temp_form,
    .temp_form input[type="text"] {
        width: 270px;
    }

    .temp_form {
        margin: 0rem 0 4rem 0px;
    }

    .main_content {
        margin-top: 70px;
    }
}
