@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    margin: 0;
}

/* ------------------------------ Navbar CSS --------------------------- */

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: var(--main-bg);
    padding: 1rem 12rem;
}

.navtitle{
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar a{
    color: #fff;
    font-size: 1.8rem;
}

.navbar li{
    margin: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a:visited{
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: white;
    width: 4rem;
    height: 3rem;
}

.snow{
    transition: all linear;
    animation: rotation 2s linear infinite;
    color: var(--main-color);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ------------------------------ Main Header CSS--------------------------- */


.main_header_left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 2rem;
}

.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right{
    /* border: 5px solid black; */
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.carousel-img{
    height: 50rem;
}

/* ------------------------------ Footer CSS --------------------------- */

footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
    color:#fff;
    line-height: 6rem;
    font-size: 1.4rem;
}


@media (max-width: 768px) {
    .main_header_left {
        height: auto;
        padding: 13rem 0rem 0rem;
    }
    .main_header_right{
        height: 38rem;
    }
    .carousel-img{
        height: 45rem;
    }
    .navbar{
        padding: 1.5rem 6rem;
    }
    .carousel-img{
        max-height: 40rem;
    }
}

@media (max-width: 400px) {
    .navbar{
        padding: 1.5rem 3rem;
    }
}


/* ------------------------------ Weather CSS --------------------------- */

.weather_data{
    height: 100vh;
}

.tempInformation {
    /* border: 5px solid black; */
    width: 30rem;
    margin: auto;
    height: 25rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
}

.top_layer {
    /* border: 5px solid black; */
    width: 100%;
    height: 25%;
    background-color: #2d303d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}
   
.top_layer p {
    color:#fff;
    font-weight: 300;
    padding: 3rem;
    font-size: 1.5rem;
}

.main_layer {
    /* border: 5px solid black; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

.main_layer #city_name {
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color:#fff; 
}

.main_layer .middle_layer p,
.main_layer .middle_layer .faicon,
.main_layer .middle_layer .sup {
    font-size: 4.5rem;
    font-weight: 900;
}

.fa-sharp {
    color: red;
}

sup{
    font-size: 4rem;
    margin-top: -2rem;
}

#navsup{
    font-size: 2rem;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

.celcius{
    margin-right: 2.5rem;
}

@media (max-width: 768px) {
    .tempInformation {
        height: 20rem;
    }
    .main_layer {
        padding: 2rem 3rem;
    }
}

    
/* ------------------------------ Weather Input CSS --------------------------- */

.main_content{
    z-index: -1;
}

.temp_form {
    width: 70%;
    position: relative; 
    margin: 12rem auto 4rem;
}
        
.temp_form input[type="text"] { 
    width: 100%; 
    padding: 2rem 5rem 2rem 2rem; 
    background: #1e202b;
    color: white; 
    outline: none;
    border: none; 
    font-size: 1.7rem;
    border-radius: 4rem; 
}
        
::placeholder {
    color: #bfc1c8;
}

.temp_form #submitBtn{
    position: absolute;
    top: 7px;
    right: 7px; 
    bottom: 7px;
    min-width: 10rem;
    margin-left: 10rem;
    border: none;
    background: #009ad8;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color:#fff;
}

@media (max-width: 768px) {
    .temp_form {
        min-width: 80%;
    }
    .about-img{
        /* border: 5px solid black; */
        max-width: 35rem;
        position: relative;
        top: -2rem;
    }
}

/* ------------------------------ 404 Error Page CSS --------------------------- */

.err-img{
    height: 40rem;
}
 
.err-con{
    height: 100vh;
    width: 100%;
    border: 5px solid black;
    padding-top: 20rem;
    display: flex;
    justify-content: center;
 }
